@font-face {
  font-family: "Seasons";
  src: url("../fonts/theseasons/TheSeasonsRegular.eot");
  src: url("../fonts/theseasons/TheSeasonsRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/theseasons/TheSeasonsRegular.woff2") format("woff2"), url("../fonts/theseasons/TheSeasonsRegular.woff") format("woff"), url("../fonts/theseasons/TheSeasonsRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MoonTime";
  src: url("../fonts/moontime/MoonTime-Regular.eot");
  src: url("../fonts/moontime/MoonTime-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/moontime/MoonTime-Regular.woff2") format("woff2"), url("../fonts/moontime/MoonTime-Regular.woff") format("woff"), url("../fonts/moontime/MoonTime-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dmsans/DMSans-Regular.eot");
  src: url("../fonts/dmsans/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dmsans/DMSans-Regular.woff2") format("woff2"), url("../fonts/dmsans/DMSans-Regular.woff") format("woff"), url("../fonts/dmsans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/dmsans/DMSans-Bold.eot");
  src: url("../fonts/dmsans/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/dmsans/DMSans-Bold.woff2") format("woff2"), url("../fonts/dmsans/DMSans-Bold.woff") format("woff"), url("../fonts/dmsans/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  font-size: 20px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

button {
  border: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #C0BEBB;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 0 40px;
}

.title-main,
.title-section {
  color: #E6DCC6;
  font-family: "Seasons", serif;
  font-weight: 400;
  white-space: nowrap;
}

.title-main {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.title-section {
  font-size: 50px;
}

.menu {
  padding: 40px 0 40px 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link {
  color: #4482c2;
  padding: 5px 10px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link:hover {
  color: #E6DCC6;
}

.main-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right center;
     object-position: right center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 0 100px 100px 0;
  height: 100%;
  position: relative;
  z-index: 100;
  background: #1B3652;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-top: 2px solid #E6DCC6;
  border-bottom: 2px solid #E6DCC6;
  padding: 40px 0;
}
.main__item {
  margin-bottom: 40px;
}
.main__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__subtitle {
  color: #E6DCC6;
  font-size: 20px;
  font-family: "Seasons", serif;
  letter-spacing: 1px;
}
.main__learn-more {
  padding: 15px 70px;
  background: #222222;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  -webkit-transition: color 0.3s, background 0.3s;
  -o-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}
.main__learn-more:hover {
  background: #E6DCC6;
  color: #222222;
}
.main__slogan {
  color: #E6DCC6;
  font-size: 50px;
  font-family: "MoonTime", cursive;
  font-weight: 400;
  text-shadow: 5px 2px 9px #E6DCC6;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  background: #1B3652;
  padding: 100px;
}
.about__title {
  text-align: center;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.about__content {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #E6DCC6;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  white-space: nowrap;
}
.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding-right: 50px;
}
.contacts__btn-contact {
  padding: 15px 70px;
  margin: 40px 0;
  border-radius: 50px;
  background: #E6DCC6;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}
.contacts__btn-contact:hover {
  background: #222222;
  color: #E6DCC6;
}
.contacts__img {
  width: 70%;
}
.contacts__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.contacts__item span {
  min-width: 100px;
  margin-bottom: 40px;
}
.contacts__item:last-child span {
  margin-bottom: 0;
}
.contacts__block-text {
  color: #E6DCC6;
  text-transform: uppercase;
  font-weight: bold;
}
.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.social__item {
  font-size: 18px;
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item_facebook {
  font-size: 14px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #E6DCC6;
  -webkit-transition: background 0.3s, border-color 0.3s;
  -o-transition: background 0.3s, border-color 0.3s;
  transition: background 0.3s, border-color 0.3s;
}
.social__link:hover {
  background: #222222;
  border-color: #222222;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-block__copyright {
  color: #284f78;
}
.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-menu__link {
  color: #284f78;
  padding: 5px 10px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.footer-menu__link:hover {
  color: #E6DCC6;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  max-height: 1080px;
  background-color: #1B3652;
  position: relative;
  overflow: hidden;
}
.section_about {
  background: url(./../img/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 100px 0;
}
.section_contacts {
  padding: 100px 0;
  height: initial;
}
.section_footer {
  height: initial;
  padding: 20px 0;
  background: #0e1d2c;
}

@media (max-width: 992px) {
  .section_about, .section_contacts {
    padding: 70px 0;
  }
  .section_footer {
    padding: 20px 0;
  }
  .main {
    padding: 0 70px 70px 0;
  }
  .about {
    padding: 70px;
  }
}
@media (max-width: 768px) {
  .section_about, .section_contacts {
    padding: 0;
  }
  .section_contacts {
    padding: 0;
    background: url(./../img/contacts-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .main-img {
    width: 100%;
  }
  .main {
    width: 100%;
    padding: 0 0 70px;
    background: rgba(27, 54, 82, 0.7);
  }
  .about {
    width: 100%;
    background: rgba(27, 54, 82, 0.7);
  }
  .contacts {
    background: rgba(27, 54, 82, 0.7);
  }
  .contacts__img {
    display: none;
  }
  .contacts__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 70px 0;
  }
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-block__logo {
    margin: 20px 0;
  }
  .footer-block__copyright {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}/*# sourceMappingURL=style.css.map */