:root {
    font-size: $fontSizeAll;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: $color3;
}

.container {
    width: 1440px;
    height: 100%;
    padding: 0 $paddingContainer;
}

.title-main,
.title-section {
    color: $color2;
    font-family: 'Seasons', serif;
    font-weight: 400;
}

.title-main {
    font-size: $fontSizeH1;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.title-section {
    font-size: $fontSizeH2;
}