@media (max-width: $bp1) {
    $p: 70px;

    .section {
        &_about,
        &_contacts {
            padding: $p 0;
        }
        &_footer {
            padding: 20px 0;
        }
    }

    .main {
        padding: 0 $p $p 0;
    }
    .about {
        padding: $p;
    }
}

@media (max-width: $bp2) {
    $mainBlockWidth: 100%;
    $mainImgBlockWidth: 100%;
    $bgColor: rgba($color1, .7);
    $p: 70px;
    $paddingContainer: $p;

    .container {
        padding: 0 $paddingContainer;
    }


    .section {
        &_about,
        &_contacts {
            padding: 0;
        }

        &_contacts {
            padding: 0;
            background: url(./../img/contacts-img.jpg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .main-img {
        width: $mainImgBlockWidth;
    }
    
    .main {
        width: $mainBlockWidth;
        padding: 0 $p $p;
        background: $bgColor;
    }

    .about {
        width: 100%;
        background: $bgColor;
    }

    .contacts {
        background: $bgColor;
        &__img {
            display: none;
        }
        &__info {
            align-items: center;
            width: 100%;
            padding: $p 0;
        }
    }

    .footer-block {
        flex-direction: column;

        &__logo {
            margin: 20px 0;
        }

        &__copyright {
            order: 1;
        }
    }

    .contact-form {
        padding: 0;
        background: $color2;
        width: 90%;
        position: relative;
        &__info {
            @include flex(space-between, center);

            width: 100%;
            padding: 40px;
            background: rgba($color2, .7);
            position: relative;
            z-index: 50;
        }
        &__group {
            margin: 40px 0;
        }
        &__img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

@media (max-width: $bp3) {
    $p: 70px;
    $paddingContainer: 35px;

    .container {
        padding: 0 $paddingContainer;
    }

    .main {
        padding: 0 $p / 2 $p;
    }

    .about {
        padding: $p $p / 2; 
    }
}

@media (max-width: $bp4) {
    $fontSizeH1: 50px;
    $fontSizeH2: 40px;
    $fontSizeAll: 16px;
    $fontSizeSubTitle: 16px;
    $p: 70px;
    $paddingContainer: $p / 4;

    :root {
        font-size: $fontSizeAll;
    }

    .container {
        padding: 0 $paddingContainer;
    }

    .title-main {
        font-size: $fontSizeH1;
    }
    .title-section {
        font-size: $fontSizeH2;
    }
    
    .main {
        padding: 0 $p / 4 $p;
        &__subtitle {
            font-size: $fontSizeSubTitle;
        }
    }

    .about {
        padding: $p $p / 4; 
    }
}