$color1: #1B3652;
$color2: #E6DCC6;
$color3: #C0BEBB;
$color4: #222222;

// border
$mainBoder: 2px solid $color2;

$fontSizeH1: 70px;
$fontSizeH2: 50px;
$fontSizeSlogan: 50px;
$fontSizeAll: 20px;

// padding
$paddingBlock: 100px; 

// margin
$mbItem: 40px;