@import "./vars";
@import "./mixins";
@import "./fonts";
@import "./common";

@import "./components/modal";
@import "./components/form";

@import "./sections/header";
@import "./sections/main";
@import "./sections/about";
@import "./sections/contacts";
@import "./sections/footer";

.section {
    @include flex(flex-start, center);
    flex-direction: column;

    height: 100vh;
    max-height: 1080px;
    background-color: $color1;
    position: relative;
    overflow: hidden;
    &_main {}
    &_about {
        $p: $paddingBlock;
        background: url(./../img/about-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: $p 0;
    }
    &_contacts {
        $p: $paddingBlock;
        padding: $p 0;
        height: initial;
    }
    &_footer {
        $p: $paddingBlock / 5;
        height: initial;
        padding: $p 0;
        background: darken($color1, 10);
    }
}

@import "./media";
