.contacts {
    $imgWidth: 60%;
    @include flex;

    white-space: nowrap;

    &__info {
        @include flex(space-between, flex-start);
        flex-direction: column;

        width: 100% - $imgWidth;
        padding-right: 50px;
    }
    &__title {}
    &__btn-contact {
        padding: 15px 70px;
        margin: 40px 0;
        border-radius: 50px;
        background: $color2;
        color: $color4;
        font-weight: bold;
        text-transform: uppercase;
        transition: background .3s, color .3s;
        cursor: pointer;
        &:hover {
            background: $color4;
            color: $color2;
        }
    }
    &__img {
        width: 70%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }
    &__data {}
    &__item {
        @include flex;

        span {
            min-width: 100px;
            margin-bottom: 40px;
        }
        &:last-child {
            span {
                margin-bottom: 0;
            }
        }
    }
    &__block-text {
        color: $color2;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__phone-block {}
    &__phone {
        a {}
    }
    &__email {
        a {}
    }
    &__social {
        @include flex(flex-start, center);
    }
}

.social {
    @include flex;
    $size: 30px;

        &__item {
            font-size: 18px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            &_facebook {
                font-size: 14px;
            }
        }
        &__link {
            @include flex(center, center);
            
            width: $size;
            height: $size;
            border-radius: 50%;
            border: 1px solid $color2;
            transition: background .3s, border-color .3s;
            &:hover {
                background: $color4;
                border-color: $color4;
            }
        }
}