.contact-form {
    input,
    label,
    button,
    textarea,
    fieldset {
        font-size: $fontSizeForm;
    }
    
    fieldset,
    label,
    input,
    textarea {
        width: 100%;
    }
    
    input,
    textarea,
    button {
        padding: 10px 30px;
        border: 1px solid $color1;
    }

    input,
    button {
        border-radius: 50px;
    }

    textarea {
        height: 80px;
        resize: none;
        border-radius: 10px;
    }

    @include flex;

    position: relative;
    padding: 40px;
    background: $color2;
    max-width: 800px;
    box-shadow: 2px 2px 5px rgba(black, .7);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .3s, opacity .3s;

    &__info {
        @include flex(space-between, flex-start);
        flex-direction: column;

        width: 40%;
        padding-right: 50px;
    }
    &__group {
        margin: 40px 0;
    }
    &__item {
        margin-bottom: 10px;
    }

    &__title {
        color: $color4;
    }
    &__field {}
    &__submit-btn {
        width: 100%;
        cursor: pointer;
        transition: background .3s, color .3s;
        &:hover {
            background: $color4;
            color: $color2;
        }
    }

    &__img {
        width: 60%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__close-btn {
        $size: 40px;
        @include flex(center, center);

        color: gray;
        width: $size;
        height: $size;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: color .3s;
        z-index: 100;
        &:hover {
            color: $color4;
        }
    }

    &_show {
        opacity: 1;
        transform: translateX(0);
    }
}